@import url("https://use.typekit.net/tws1qrr.css");
@media (max-width: 1349px) {
  .container .steps .step {
    min-height: 230px;
    padding: 0 30px;
  }
  .cont-third .img-third-section img {
    top: -24rem;
    margin: 0 0 -32rem 0;
  }
  .third-gradient img {
    top: -36rem;
  }
}

/* Desktops */
@media (max-width: 992px) {
  .free-text {
    display: none;
  }
  .row > .col-0 {
    display: none !important;
  }
  img {
    max-width: 100%;
  }
  .div-button-blue > .button-blue, .button-blue:not([href]):not([tabindex]) {
    margin: 0 0 3rem 0;
    top: 0;
  }
  .container > .first-title {
    font-size: 1.5em;
    margin: 0;
  }
  .first-logo {
    display: inherit;
    margin: 3rem auto;
  }
  .navbar > .container > .row {
    margin: 0 auto;
  }
  .first-bg-1 > .container > .first-img {
    width: 100%;
    margin: 0 auto -5rem auto;
  }
  .col-12 > .timer {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .col-12 > .timer .title-time {
    font-size: 0.8em;
  }
  .col-12 > .timer .legend-time {
    font-size: 0.3em;
  }
  .first-section .first-bg-1 {
    background-size: 100% 70%;
    background-position: 0 50%;
  }
  .first-section .container {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .first-bg-1 > .container .first-title {
    font-size: 1.5em;
    margin: 0;
  }
  .first-bg-1 > .container .first-logo {
    display: inherit;
    margin: 1rem auto;
  }
  .first-bg-1 > .container .insta-text {
    font-size: 0.65em;
  }
  .first-bg-1 > .container .free-text {
    display: none;
  }
  .container > .steps {
    padding: 20px;
    border-radius: 0;
    background-color: rgba(1, 3, 7, 0);
  }
  .container > .steps .col-md-3 img {
    margin: 1rem 0 1rem 0;
  }
  .container > .steps .step p {
    margin: 1rem 0;
  }
  .button-blue, .button-black, .button-bronze-color {
    padding: 10px 20px !important;
    width: 100%;
    font-size: 1em !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second-section {
    padding: 10px;
  }
  .div-second-title .second-title {
    font-size: 1.5em;
    max-width: 100%;
    line-height: 1.1;
    padding: 0;
  }
  .div-second-title .img-second {
    width: 70%;
    margin: -2rem 0 0 0;
  }
  .row > .col-second-section {
    padding: 0 5px 0 20px;
  }
  .row > .col-second-section .info-map {
    font-size: 1em;
  }
  .row > .col-second-section .info-map::before {
    width: 20px;
    height: 20px;
    top: 10px;
    left: -5px;
    background-size: 20px;
  }
  .container > .divisor-1 {
    margin: 2rem auto;
  }
  .bg-third-section {
    padding: 30px;
    min-height: 1000px;
  }
  .bg-third-section .third-title, .bg-third-section .third-subtitle {
    font-size: 1.5em;
  }
  .bg-third-section .third-name {
    font-size: 2.5em;
  }
  .bg-third-section .third-text {
    font-size: 1em;
  }
  .cont-third .img-third-section img {
    top: -17rem;
    margin-bottom: -37rem;
  }
  .third-gradient img {
    top: -24rem;
    min-height: 500px;
  }
  .fourth-section {
    padding: 0 0 5rem 0;
  }
  .fourth-content {
    padding: 50px;
  }
  .fourth-content .fourth-title {
    font-size: 1.5em;
  }
  .fourth-content .fourth-subtitle {
    font-size: 1em;
  }
  .footer {
    text-align: center;
    padding: 2rem 0 6rem 0;
  }
  .footer .footer-text {
    margin: 1rem auto 1rem auto;
  }
  .footer .hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .show {
    display: none;
  }
}

/* Tablets */
@media (max-width: 767px) {
  .content-site {
    background-image: url("../img/BACKGROUND1_mobile1.png");
  }
  .button-blue, .button-black, .button-bronze, .button-bronze-final {
    font-size: 0.8em !important;
  }
  .container .steps .step {
    min-height: auto;
  }
  .third-gradient img {
    top: -32rem;
    min-height: 300px;
  }
  .cont-third .img-third-section img {
    top: -30rem;
    margin-bottom: -30rem;
  }
}

/* Mobile phones */
@media (max-width: 576px) {
  .bg-third-section {
    padding: 20px;
  }
  .third-gradient img {
    top: -32rem;
    min-height: 300px;
  }
  .cont-third .img-third-section img {
    top: -18rem;
    margin-bottom: -30rem;
  }
}
/*# sourceMappingURL=responsive.css.map */