@charset "UTF-8";
@import url("https://use.typekit.net/tws1qrr.css");
.button {
  font-family: "trajan-pro-3";
  text-transform: uppercase;
  min-height: 80px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.content-site {
  background-image: url("../img/BACKGROUND 1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

body {
  background-color: black;
}

a, a:not([href]):not([tabindex]) {
  color: white;
  cursor: pointer;
}

a:hover, a:not([href]):not([tabindex]):hover {
  text-decoration: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-bronze-color, .button-black, .button-black:not([href]):not([tabindex]), .button-bronze-color:not([href]):not([tabindex]), .button-black:not([href]):not([tabindex]) {
  max-width: 592px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 110%;
  padding: 25px 70px;
  font-style: normal;
  text-align: center;
  margin: 1rem 0 1rem 0;
  font-family: "trajan-pro-3";
  background: #C69F52;
  -webkit-box-shadow: 0px 0px 40px #C69F52;
          box-shadow: 0px 0px 40px #C69F52;
  border-radius: 8px;
  color: black;
}

.button-bronze-color:hover, .button-black:hover, .button-black:hover:not([href]):not([tabindex]), .button-bronze-color:not([href]):not([tabindex]):hover, .button-black:not([href]):not([tabindex]):hover {
  background-color: #010307;
  color: #C69F52;
}

.button-black, .button-black:not([href]):not([tabindex]) {
  background: #C69F52;
  -webkit-box-shadow: 0px 0px 40px #C69F52;
          box-shadow: 0px 0px 40px #C69F52;
  border-radius: 8px;
  color: black;
}

.button-black:hover, .button-black:not([href]):not([tabindex]):hover {
  background-color: black;
  color: #C69F52;
}

.row {
  padding: 0;
  margin: 0;
}

.bg-black {
  background-color: rgba(1, 3, 7, 0.6);
  padding: 0;
}

.navbar.sticky {
  position: fixed;
  z-index: 999;
  bottom: -2px;
  width: 100%;
}

.navbar.reposition-sticky {
  bottom: 100px;
}

.button-bronze, .button-bronze:not([href]):not([tabindex]) {
  width: 100%;
  font-size: 1.25em;
  max-width: 381px;
  min-height: 54px;
  font-weight: 700;
  margin: 2rem auto;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #383844;
  background-image: url("../img/botão bronze 1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.button-bronze:hover, .button-bronze:not([href]):not([tabindex]):hover {
  color: white;
  background-image: url("../img/botão bronze 1-effect.png") !important;
}

.row {
  width: 100%;
}

.timer {
  font-family: "trajan-pro-3";
  max-width: 300px;
  height: 100%;
  background: #383844;
  color: #C69F52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.timer .time {
  margin: auto 0 auto 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timer .time * {
  padding: 0;
  margin: 0;
}

.timer .time .legend-time {
  color: white;
  font-family: "proxima-nova", sans-serif;
  font-size: 0.25em;
  font-weight: 300;
  margin: 0 5px;
}

.timer .time .title-time {
  font-size: 0.75em;
  line-height: 1;
  margin: 0;
}

.first-section {
  min-height: 90vh;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.first-section .first-bg-3 {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF8EF), to(rgba(191, 164, 126, 0)));
  background: linear-gradient(180deg, #FFF8EF 0%, rgba(191, 164, 126, 0) 100%);
}

.first-section .first-bg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 3, 7, 0)), to(rgba(1, 3, 7, 0)));
  background: linear-gradient(180deg, rgba(1, 3, 7, 0) 0%, rgba(1, 3, 7, 0) 100%);
  width: 100%;
}

.first-section .first-bg-1 {
  background: url("../img/bg1.png");
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 100%;
}

.first-section .first-logo {
  display: none;
}

.first-section .first-title {
  font-size: 3em;
  font-weight: 700;
  font-family: "trajan-pro-3";
  color: #383844;
  margin-top: 3rem;
  max-width: 1080px;
}

.first-section .first-title .first-title-black {
  color: black;
}

.first-section .first-img {
  width: 80%;
  margin: 0 auto;
}

.first-section .insta-text {
  color: #911D17;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}

.first-section .insta-text::after {
  content: url("../svg/Instagram.svg");
  position: relative;
  top: 2px;
  left: 5px;
}

.first-section .free-text {
  color: #383844;
  font-family: "trajan-pro-3";
  font-size: 1em;
  font-weight: 700;
}

.steps {
  background-color: rgba(1, 3, 7, 0.6);
  padding: 30px 100px;
  border-radius: 8px;
  position: relative;
  top: 0;
}

.steps .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps .step {
  min-height: 240px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.steps .step img {
  margin: 20px 0;
}

.steps .step h3 {
  font-family: "trajan-pro-3";
  font-weight: bold;
  font-size: 0.75em;
  line-height: 110%;
  text-align: center;
  color: #AEB8CD;
}

.steps .step h2 {
  font-family: "trajan-pro-3";
  font-weight: 600;
  font-size: 1.25em;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}

.steps .step p {
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  line-height: 110%;
  text-align: center;
  color: #AEB8CD;
  margin: 0;
}

.button-blue, .button-blue:not([href]):not([tabindex]) {
  top: -60px;
  color: white;
  max-width: 592px;
  padding: 25px 70px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "trajan-pro-3";
  background: #49B0B0;
  -webkit-box-shadow: 0px 0px 40px #49B0B0;
          box-shadow: 0px 0px 40px #49B0B0;
  border-radius: 8px;
}

.button-blue:hover, .button-blue:not([href]):not([tabindex]):hover {
  color: #DD574D;
  border: 2px solid #911D17;
  background: #911D17;
  -webkit-box-shadow: 0px 0px 40px #911D17;
          box-shadow: 0px 0px 40px #911D17;
  border-radius: 8px;
  background-color: black;
}

#button-blue-fixed {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.second-section {
  padding: 70px;
  min-height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-image: none;
  background-color: transparent;
}

.container {
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-second-section {
  padding: 0 50px;
}

.div-second-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-second-title .second-title {
  margin: 0 auto;
  font-size: 2.5em;
  color: #FFFFFF;
  padding: 0 100px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  font-style: normal;
  font-family: "trajan-pro-3";
}

.info-map {
  font-size: 1.25em;
  text-align: left;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 150%;
  font-style: normal;
  font-family: "proxima-nova", sans-serif;
}

.info-map::before {
  content: '';
  top: 0;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  display: inline-block;
  background-size: 30px;
  background-image: url("../img/Vector (1).png");
}

.free-text {
  font-size: 1em;
  font-weight: 700;
  color: #AEB8CD;
  color: #383844;
  font-family: "trajan-pro-3";
}

.div-second-button {
  top: 0;
  height: auto;
  min-height: 80px;
}

.divisor-1 {
  max-width: 384px;
  width: 100%;
  margin: 5rem auto 2rem auto;
}

.third-section {
  background: radial-gradient(50% 50% at 50.03% 50%, #52432D 0%, rgba(82, 67, 45, 0) 100%);
}

.content-third-section {
  background: rgba(198, 159, 82, 0.3);
  border-radius: 8px;
}

.bg-third-section {
  background: url("../img/golden-foil-texture-background-shiny-wrapping-paper-decoration-element 2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px;
  min-height: 1256px;
}

.third-title {
  font-family: "proxima-nova", sans-serif;
  font-size: 2em;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}

.third-name {
  font-family: "trajan-pro-3";
  font-weight: bold;
  font-size: 3em;
  line-height: 110%;
  text-align: center;
  color: #010307;
  margin: 0;
}

.third-subtitle, .third-text {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.third-text {
  font-weight: light;
  font-size: 1em;
  line-height: 2em;
}

.img-third-section {
  width: 100%;
  position: relative;
  z-index: 0;
}

.img-third-section img {
  position: relative;
  top: -38rem;
  z-index: 0;
  margin: 0 0 -38rem 0;
  right: 10px;
  width: 110%;
}

.third-gradient img {
  width: 100%;
  position: relative;
  top: -45em;
  margin-bottom: -48.3rem;
}

.row-third-img, .col-third-img {
  z-index: 0;
}

.fourth-section {
  text-align: center;
  background-color: black;
  padding: 0 70px 250px 70px;
}

.fourth-content {
  background-image: url("../img/rocha 1.png");
  background-size: 100% 100%;
  border-radius: 8px;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.fourth-content .fourth-title {
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 100%;
  text-align: center;
  color: #C69F52;
}

.fourth-content .fourth-text {
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}

.fourth-content .fourth-subtitle {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}

.fourth-content .fourth-subtitle .fourth-subtitle-red {
  color: #C34E45;
}

.fourth-content .insta::before {
  content: url("../img/Instagram.png");
  position: relative;
  top: 5px;
  right: 10px;
}

.footer {
  background: #272932;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-text {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 145%;
  text-align: center;
  letter-spacing: -0.005em;
  color: #D3D3D3;
}

.footer.sticky {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */