@charset "UTF-8";
@import url("https://use.typekit.net/tws1qrr.css");
.button {
  font-family: "trajan-pro-3";
  text-transform: uppercase;
  min-height: 80px;
}

.content-site {
  background-image: url("../img/BACKGROUND 1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
}

body {
  background-color: black;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-black {
  background-color: rgba(1, 3, 7, 0);
  padding: 0;
}

.navbar.sticky {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 3, 7, 0.6);
}

.navbar.reposition-sticky {
  bottom: 100px;
}

.button-bronze {
  min-width: 381px;
  min-height: 54px;
  text-align: center;
  background-image: url("../img/botão bronze 1.png");
  border-radius: 10px;
  font-size: 20px;
}

.row {
  width: 100%;
}

.timer {
  font-family: "trajan-pro-3";
  max-width: 300px;
  height: 100%;
  background: #383844;
  color: #C69F52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.timer .time {
  margin: auto 0 auto 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timer .time * {
  padding: 0;
  margin: 0;
}

.timer .time .legend-time {
  color: white;
  font-family: "proxima-nova", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 0 5px;
}

.timer .time .title-time {
  line-height: 1;
  margin: 0;
}

.first-section {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF8EF), to(rgba(191, 164, 126, 0)));
  background: linear-gradient(180deg, #FFF8EF 0%, rgba(191, 164, 126, 0) 100%);
  min-height: 100vh;
}

.first-section .first-bg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 3, 7, 0)), to(rgba(1, 3, 7, 0)));
  background: linear-gradient(180deg, rgba(1, 3, 7, 0) 0%, rgba(1, 3, 7, 0) 100%);
  width: 100%;
}

.first-section .first-bg-1 {
  background: url("../img/bg1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.first-section .first-title {
  font-size: 3em;
  font-weight: 700;
  font-family: "trajan-pro-3";
  color: #383844;
  margin-top: 5rem;
}

.first-section .insta-text {
  color: #911D17;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.first-section .insta-text::after {
  content: url("../svg/Instagram.svg");
  margin: 10px 0 0 5px;
}

.first-section .free-text {
  color: #383844;
  font-family: "trajan-pro-3";
  font-size: 16px;
  font-weight: 700;
}

.steps {
  background-color: rgba(1, 3, 7, 0.6);
  padding: 20px 100px;
  border-radius: 8px;
  position: relative;
  top: 0;
}

.steps .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps .step {
  min-height: 240px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps .step img {
  margin: 20px 0 20px 0;
}

.steps .step h3 {
  font-family: "trajan-pro-3";
  font-weight: bold;
  font-size: 12px;
  line-height: 110%;
  text-align: center;
  color: #AEB8CD;
}

.steps .step h2 {
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}

.steps .step p {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  color: #AEB8CD;
  margin: 0 0 0 0;
}

.button-blue {
  min-width: 592px;
  padding: 25px 70px;
  color: white !important;
  text-transform: uppercase;
  font-family: "trajan-pro-3";
  position: relative;
  top: -30px;
  background: #49B0B0;
  -webkit-box-shadow: 0px 0px 40px #49B0B0;
          box-shadow: 0px 0px 40px #49B0B0;
  border-radius: 8px;
}

.second-section {
  padding: 70px;
  background-color: transparent;
  background-image: none;
  min-height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.second-section .container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.second-section .div-second-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-section .div-second-title .second-title {
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0 100px;
}

.second-section .info-map {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: left;
  color: #FFFFFF;
}

.second-section .info-map::before {
  content: url("../img/Vector (1).png");
  width: 32px;
  position: absolute;
  top: 0;
  left: -30px;
}

.div-second-button {
  top: 0;
  min-height: 80px;
  height: auto;
}

.button-black {
  min-width: 592px;
  padding: 25px 70px;
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: #C69F52;
  margin: 5rem 0 5rem 0;
  background: #C69F52;
  -webkit-box-shadow: 0px 0px 40px #C69F52;
          box-shadow: 0px 0px 40px #C69F52;
  border-radius: 8px;
  background-color: #010307;
}

.third-section {
  background: radial-gradient(50% 50% at 50.03% 50%, #52432D 0%, rgba(82, 67, 45, 0) 100%);
}

.third-section .content-third-section {
  background: rgba(198, 159, 82, 0.3);
  border-radius: 8px;
}

.third-section .bg-third-section {
  background: url("../img/golden-foil-texture-background-shiny-wrapping-paper-decoration-element 2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px;
  min-height: 1256px;
}

.third-section .bg-third-section .third-title {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.third-section .bg-third-section .third-name {
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #010307;
}

.third-section .bg-third-section .third-subtitle, .third-section .bg-third-section .third-text {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.third-section .bg-third-section .third-text {
  font-weight: 300;
  font-size: 1em;
  line-height: 2em;
}

.third-section .img-third-section {
  width: 100%;
  position: relative;
  z-index: 0;
}

.third-section .img-third-section img {
  position: relative;
  top: -38rem;
  z-index: 0;
  margin: 0 0 -38rem 0;
  right: 10px;
  width: 110%;
}

.third-section .third-gradient img {
  width: 100%;
  position: relative;
  top: -45em;
  margin-bottom: -48.3rem;
}

.third-section .row-third-img, .third-section .col-third-img {
  z-index: 0;
}

.fourth-section {
  text-align: center;
  background-color: black;
  padding: 0 70px 250px 70px;
}

.fourth-section .fourth-content {
  background-image: url("../img/rocha 1.png");
  background-size: 100% 100%;
  border-radius: 8px;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.fourth-section .fourth-content .fourth-title {
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #C69F52;
}

.fourth-section .fourth-content .fourth-text {
  font-family: "trajan-pro-3";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}

.fourth-section .fourth-content .fourth-subtitle {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}

.fourth-section .fourth-content .fourth-subtitle .fourth-subtitle-red {
  color: #C34E45;
}

.fourth-section .fourth-content .insta::before {
  content: url("../img/Instagram.png");
  position: relative;
  top: 5px;
  right: 10px;
}

.fourth-section .button-bronze {
  padding: 10px 50px;
  margin: 2rem 0;
}

.footer {
  background: #272932;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-text {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  letter-spacing: -0.005em;
  color: #D3D3D3;
}

.footer.sticky {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */