@import url("https://use.typekit.net/tws1qrr.css");

$font-primary: 'trajan-pro-3';
$font-secondary: 'proxima-nova',sans-serif;

$red-color: #911D17;
$bronze-color: #C69F52;
$black-color-title: #383844;

@mixin centerContent(){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin effectButton($color){
    background: $color;
    box-shadow: 0px 0px 40px $color;
    border-radius: 8px;
}

.button{
    font-family: $font-primary;
    text-transform: uppercase;
    min-height: 80px;
}

.content-site{
    background-image: url("../img/BACKGROUND\ 1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
}

body{
    background-color: black;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
section{
    @include centerContent();
}

// Navbar >>>
.button-bronze{
    min-width: 381px;
    min-height: 54px;
    text-align: center;
    background-image: url("../img/botão\ bronze\ 1.png");
    border-radius: 10px;
    font-size: 20px;
}
.bg-black{
    background-color: #010307;;
    padding: 0;
}
.row{
    width: 100%;
}
.timer{
    font-family: $font-primary;
    max-width: 300px;
    height: 100%;
    background: $black-color-title;
    color: $bronze-color;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .time{
        margin: auto 0 auto 0;
        text-align: center;
        @include centerContent();
        *{
            padding: 0;
            margin: 0;
        }
        .legend-time{
            color: white;
            font-family: $font-secondary;
            font-size: 12px;
            font-weight: 300;
            margin: 0 5px;
        }
        .title-time{
            line-height: 1;
            margin: 0;
        }
    }
}

// First section
.first-section{
    text-align: center;
    background: linear-gradient(180deg, #FFF8EF 0%, rgba(191, 164, 126, 0) 100%);
    // background: linear-gradient(180deg, rgba(118, 131, 158, 0) 0%, rgba(1,3,7,0.6) 100%);
    min-height: 100vh;
    .first-bg-2{
        background: linear-gradient(180deg, rgba(1, 3, 7, 0) 0%, rgba(1, 3, 7, 0) 100%);
        width: 100%;
    }
    .first-bg-1{
        background: url("../img/bg1.png");
        background-size: 100%;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100%;
    }
    .first-title{
        font-size: 3em;
        font-weight: 700;
        font-family: $font-primary;
        color: $black-color-title;
        margin-top: 5rem;
    }
    .insta-text{
        color: $red-color;
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 20px;
        &::after{
            content: url('../svg/Instagram.svg');
            margin: 10px 0 0 5px;
        }
    }
    .free-text{
        color: $black-color-title;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 700;
    }
}
.steps{
    background-color: rgba(1, 3, 7, 0.6);
    padding: 20px 100px;
    border-radius: 8px;
    position: relative;
    top: 0;
    .col-3{
        @include centerContent();
    }
    .step{
        min-height: 240px;
        padding: 0 20px;
        @include centerContent();
        img{
            margin: 20px 0 20px 0;
        }
        h3{
            font-family: $font-primary;
            font-weight: bold;
            font-size: 12px;
            line-height: 110%;
            text-align: center;
            color: #AEB8CD;
        }
        h2{
            font-family: $font-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 110%;
            text-align: center;
            color: #FFFFFF;
        }
        p{
            font-family: $font-secondary;
            font-size: 16px;
            line-height: 110%;
            text-align: center;
            color: #AEB8CD;
            margin: 0 0 0 0;
        }
    }
}
.button-blue{
    min-width: 592px;
    padding: 25px 70px;
    color: white !important;
    text-transform: uppercase;
    font-family: $font-primary;
    position: relative;
    top: -30px;
    @include effectButton(#49B0B0);
}

// Second section
.second-section{
    padding: 70px;
    background-color: transparent;
    background-image: none;
    min-height: 100%;
    align-items: start;
    .container{
        height: auto;
        @include centerContent();
        justify-content: start;
    }
    .div-second-title{
        @include centerContent();
        .second-title{
            font-family: $font-primary ;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 52px;
            text-align: center;
            color: #FFFFFF;
            margin: 0 auto;
            padding: 0 100px;
        }
    }
    .info-map{
        font-family: $font-secondary;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        text-align: left;
        color: #FFFFFF;
        &::before{
            content: url("../img/Vector (1).png");
            width: 32px;
            position: absolute;
            top: 0;
            left: -30px;
        }
    }
}
.div-second-button{
    top: 0;
    min-height: 80px;
    height: auto;
}
.button-black{
    min-width: 592px;
    padding: 25px 70px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: $bronze-color;
    margin: 5rem 0 5rem 0;
    @include effectButton($bronze-color);
    background-color: #010307;
}

// Third section

.third-section{
    background: radial-gradient(50% 50% at 50.03% 50%, #52432D 0%, rgba(82, 67, 45, 0) 100%);
    .content-third-section{
        background: rgba(198, 159, 82, 0.3);
        border-radius: 8px;
    }
    .bg-third-section{
        background: url("../img/golden-foil-texture-background-shiny-wrapping-paper-decoration-element\ 2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 50px;
        min-height: 1256px;
        .third-title{
            font-family: $font-secondary;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 80px;
            text-align: center;
            letter-spacing: 0.3em;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        .third-name{
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 110%;
            text-align: center;
            color: #010307;
        }
        .third-subtitle{
            font-family: $font-secondary;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }
        .third-text{
            @extend .third-subtitle;
            font-weight: 300;
            font-size: 1em;
            line-height: 2em;
        }
    }
    .img-third-section{
        width: 100%;
        position: relative;
        z-index: 0;
        img{
            position: relative;
            top: -38rem;
            z-index: 0;
            margin: 0 0 -38rem 0;
            right: 10px;
            width: 110%;
        }
    }
    .third-gradient{
        img{
            width: 100%;
            position: relative !important;
            top: -50em !important;
            margin-bottom: -50rem;
        }
    }
    .row-third-img, .col-third-img{
        z-index: 0;
    }
}

// Fourth Section
.fourth-section{
    text-align: center;
    background-color: black;
    padding: 70px;
    .fourth-content{
        background-image: url("../img/rocha\ 1.png");
        background-size: 100% 100%;
        border-radius: 8px;
        padding: 50px;
        position: relative;
        z-index: 1;
        .fourth-title{
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 100%;
            text-align: center;
            color: $bronze-color;
        }
        .fourth-text{
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: #FFFFFF;
        }
        .fourth-subtitle{
            font-family: $font-secondary;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 110%;
            text-align: center;
            color: #FFFFFF;
            .fourth-subtitle-red{
                color: #C34E45;
            }
        }
    }
    .button-bronze{
        padding: 10px 50px;
        margin: 2rem 0;
    }
}
